.article-container {
    min-width: 250px;
    max-width: 1000px;
    margin-left: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.53);
    border-radius: 10px;
    padding: 20px;

}

a {
    color: black;
}
.content {
    color: grey;
}

li {
    list-style: none;
    width: 90%;
}

.article-container:hover {
    box-shadow: 0 0 0 1px rgba(211, 211, 211, 0.7);
    transition: 200ms;
}

.headline-h1 {
    padding: 75px 0 0 300px;
}

.article-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.show-more-chevron {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.show-more-chevron:hover {
    cursor: pointer;
    color: darkorange;
    transition: 200ms;
}

.article-container img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.article-title {
    list-style: none;
    flex-wrap: wrap;
    font-size: 16px;
}

.article-source-name {
    list-style: none;
    color: darkorange;
    font-size: 12px;
}